html 				{box-sizing: border-box}
				*, *:before, *:after {box-sizing: inherit}
body				{				
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				background-image: url('androidstudio.jpg');
}
			@media screen (max-width: 481px) {
  				#navbarSupportedContent {padding-left: 1px}
				.navbar-brand {font-size: 30px}
}
.navbar-brand	{
		  font-size: 40px;
}
#kuvaminusta {
		width: 70px;
}
#navbarSupportedContent {
			padding-left: 200px;
}
.h1 {
		  font-size: 90px;
}
.footer         {
		font-size: 12px;
		color: #ffffff;
		font-style: italic;
}
.footer a 	{
		color: #ffffff;
}
.footer a:hover {
	color:#FF0000;
}
